﻿@model IEnumerable<MadLibs.Models.Story>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.mobile-1.3.0.min.js"></script>
    <script src="~/Scripts/Madlib.js"></script>
    <link href="~/Content/jquery.mobile-1.3.0.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.mobile.structure-1.3.0.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.mobile.theme-1.3.0.min.css" rel="stylesheet" />
    <style>
        li {
            cursor: pointer;
            /*color: blue;
            font: bold 18px arial, verdana;*/
        }
    </style>
</head>
<body>
    <h1>Madlibs</h1>
    @if (@Model != null)
    {
        <div data-role="page">
            <div data-role="content">
                <div>
                    <ul data-role="listview" data-inset="true" data-divider-theme="b">
                        <li role="heading" data-role="list-divider">
                        Categories:
                        </li>
                    @foreach (var c in Model.Select(n => n.Category).Distinct())
                    {
                        <li data-theme="c" id="@("Category_" + c.Replace(" ",""))">@c</li>   
                        foreach (var s in Model.Select(n => n).Where(cat => cat.Category == c))
                        {
                            <li role="heading" data-role="list-divider" id="@("Story_" + s.Id.ToString())" class="@s.Category.Replace(" ","")" style="display:none; background-color:#c4c4c4">
                                <h1 style="text-align:center; color:#fff; cursor: pointer;">@s.Title</h1>
                            </li>     
                        } 
                    }
                    </ul>
                </div>

                <div>
                    <h2 id="StoryTitle"></h2>

                    <h3 id="POS" style="display:none">Enter Parts of Speech:</h3>

                    @foreach (var s in Model.Select(n => n))
                    {
                       <div  id="@("Article_" + s.Id.ToString())" style="display:none;"> 
                           @*Create Textboxes for input*@
                           @for (int i = 0; i < s.MissingNouns; i++){
                               <input id="@("NounInput_" + i.ToString() + "_" + s.Id.ToString())" type='text' required placeholder='Noun (eg. John Smith, Pencil, London, Freedom)'/>
                           }
                           @for (int i = 0; i < s.MissingNounPersons; i++){
                               <input id="@("PersonInput_" + i.ToString() + "_" + s.Id.ToString())" type='text' required placeholder='Person (eg. John Smith, Mom)'/>
                           }
                           @for (int i = 0; i < s.MissingNounPlaces; i++){
                               <input id="@("PlaceInput_" + i.ToString() + "_" + s.Id.ToString())" type='text' required placeholder='Place (eg. London, School, Home )'/>
                           }
                           @for (int i = 0; i < s.MissingNounThings; i++){
                               <input id="@("ThingInput_" + i.ToString() + "_" + s.Id.ToString())" type='text' required placeholder='Thing (eg. Pencil, Bottle, Car )'/>
                           }
                           @for (int i = 0; i < s.MissingNounAnimals; i++){
                               <input id="@("AnimalInput_" + i.ToString() + "_" + s.Id.ToString())" type='text' required placeholder='Animal (eg. Dog, Cat, Horse, Spot, Sparky, Dragon )'/>
                           }
                           @for (int i = 0; i < s.MissingVerbs; i++){
                               <input id="@("VerbInput_" + i.ToString() + "_" + s.Id.ToString())" type='text' required placeholder='Verb (eg. stare, gawk, peek, watch)'/>
                           }
                           @for (int i = 0; i < s.MissingPastTenseVerbs; i++){
                               <input id="@("PastTenseVerbInput_" + i.ToString() + "_"  + s.Id.ToString())" type='text' required placeholder='Past Tense Verb (eg. stared, gawked, peeked, watched)'/>
                           }
                           @for (int i = 0; i < s.MissingAdverbs; i++){
                               <input id="@("AdverbInput_" + i.ToString() + "_" + s.Id.ToString())" type='text' required placeholder='Adverb (eg. easily, friendly, hopefully, stupidly, lovingly, happily)'/>
                           }
                           @for (int i = 0; i < s.MissingAdjectives; i++){
                               <input id="@("AdjectiveInput_" + i.ToString() + "_"  + s.Id.ToString())" type='text' required placeholder='Adjective (eg. healthy, good, grumpy, sour, crabbed, beautiful)'/>
                           }

                           
                        </div>
                        <p  id="@("Paragraph_" + s.Id.ToString())" style="display:none">@s.Text</p>
                    }
                    <p id="ErrorValidation" style="display: none; color: red; font-weight: bold">Please fill in all fields, thanks.</p>
                    <a href="#page1" id="ViewStory" style="display:none" data-role="button" data-theme="b" data-iconpos="right" data-icon="gear" data-inline="true">View Story</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>No stories were found.</div>
    }

    
</body>
</html>
